@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="container-fluid padding">
        <div class="text-center">
            <h2>
                Thông tin nhóm
            </h2>
        </div>
        <div class="row padding">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hồ Nguyễn Quốc Huy</h4>
                        <p class="card-text">Thiết kế master page, thiết kế cơ sở dữ liệu, thiết kế các trang đăng nhập đăng ký, thông tin tài khoản
                            <br />
                            Hoàn thành: 100%
                        </p>
                    </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nguyễn Quang Minh</h4>
                        <p class="card-text">Không làm gì hết (Mong cô cho 0đ)</p>
                    </div>
                </div>
           </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nguyễn Thanh Huy</h4>
                        <p class="card-text">Thiết kế page giỏ hàng, page quản lý, page hóa đơn</p>
                    </div>
                </div>
            </div>
            
        </div>
        <hr class="my-4"/>
        <div>
            <h3>Đây chỉ mang tính giải trí</h3>
        </div>
    </div>
