@{
    ViewBag.Title = "Rong";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container text-center">
    <h2 style="height:200px">Giỏ hàng hiện tại rỗng</h2>
    <a href="@Url.Action("Index","Home")" style="color:blue">Về trang chủ</a>
</div>


